<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand font-weight-bold text-primary" [routerLink]="'.'">GenSca</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'generator'" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true">Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'scanner'" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true">Scanner</a>
      </li>
    </ul>
  </div>
</nav>
